#body
{
float: left;
max-width: 100%;
background-image: url("../images/background.jpg");
background-repeat: repeat;
margin-left: 10%;
margin-right: 10%;
}


#container
{
opacity: 0.85; 
float: left;
width: 300mm;


}

#header
{
   width: 100%; 
   height: 175px;
   
    padding-right: 0px; 
    
    float: left; 
    background-color: #0c2e50;
    background-repeat: repeat;
	

}
#header1 
{

float: left; 
background: #0c2e50;
width: 305px;
}
#header2 
{
    
float: left; 
background: #0c2e50;
}
#header3 
{

float: right; 
background: #0c2e50;
margin-right: 10px;
padding: 2px;

}

#menu
{
    float: left; 
background: green;
    width: 100%;
    height: 28px;
     
}

#login
{
    float: left; 
background: green;
    width: 100%;
    height: 100px;
     
    
}




#content
{
border-radius: 25px;
width: 100%;
min-height: 800px;


}
#content_left
{
float: left;
width: 225mm;
min-height: 800px;

}

#content_right
{
width: 75mm;
min-height: 800px;
background: blue;
float: right;
opasity: 1;

}


#info
{
    font-family: cursive;
width: 148mm;
min-height: 300px;
background: #8fb7ee;
float: right;
opacity: .8;
border-width: 1mm;
border-style: outset;
border-color: whitesmoke;


}

.slide1
{
    font-family: monospace;
    width: 90%;
    font-size: 15px;
}

div b
{
    text-align: center;
}



#people
{
width: 100%;
min-height: 280px;
background: black;
float: left;

}
#music
{

float: left;
position: fixed;
left: 2cm;
}



#music1
{
 float: left;
position: fixed;
left: 5cm;   
}


#video1
{
width: 100%;
height: 200px;
background: white;
float: left;
}
#video2
{
width: 100%;
height: 200px;
background: yellow;
float: left;

}

#aaa
{
  width: 200px;
  height: 120px;
min-height: 20px;
background: black;
float: left;

}

#sign
{width: 100%;
height: 300px;
float: left;
background-color: white;
}

#sign1
{width: 100mm;
height: 100%;
float: left;
background-color: pink;
}

#sign2
{width: 100mm;
height: 100%;
float: left;
background-color: green;
}

#sign3
{width: 100mm;
height: 100%;
float: right;
background-color: white; 
}

#sign31
{width: 50mm;
height: 50%;
float: left;
background-color: gray;
}

#sign32
{width: 50mm;
height: 50%;
float: left;
background-color: red;
}
#sign33
{width: 50mm;
height: 50%;
float: left;
background-color: yellow;
}
#sign34
{width: 50mm;
height: 50%;
float: right;
background-color: pink;
}

#table1
{
width: 100%;
height: 100%;
}

#footer
{
border-radius: 5px;
float: left;
height: 20px;
width: 100%;
background-color:red;
color: blue;
}

#navigation ul, #navigation li {
    width: 10px;
	margin: 0;
	padding: 0;
	list-style-type: none;
        z-index: 1000;
}
#navigation a {
	background-color: rgb(204,204,204);
	text-decoration: none;
	font: 16px 'ColaborateLightRegular', Arial, sans-serif;
	text-indent: 10px;
	border-top: 1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	margin: 0px;
	padding: 0px;
	color: rgb(53,75,118);
        z-index: 1000;
}
#navigation a:hover {
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color: #555;
	color: white;
        z-index: 1000;
}
#navigation .stack > a {
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: 97% 8px;
        z-index: 1000;
}
#navigation .stack > a:hover {
	background-position: 97% -78px;
        z-index: 1000;
}
#navigation ul .stack > a {
	background-position: 97% -21px;
        z-index: 1000;
}
#navigation ul .stack > a:hover {
	background-position: 97% -54px;
        z-index: 1000;
}

#downloadava
{
  float: left;
  width: 50px;
  height: 40px;
  
  
}

 #1
 {
     padding-left: 15px;
 width: 50px;
 height: 50px;}

#deleteava
{
    position: relative;
    height: 50px;
    width: 50px;
    left: 50px;
    top: -17px;
}

#name
{
    border: 1px solid whitesmoke;
    padding: 0;
    margin: 0;
    width: 100%;
}

#name tr td 
{padding: 0;
     margin: 0;}

 #avatar_photo
 {
     padding: 0;
     margin: 0;
 }
 
 
#avatar
{

float: left;
width: 70mm;
height: 305px;
background: whitesmoke;
opacity: 0,5;
font-family: monospace;
font-stretch: expanded;
border-left: 2.5mm solid whitesmoke;
border-right: 2.5mm solid whitesmoke;


}

#slid
{min-height: 200px;
max-height: 600px;
padding: 0px;
}

#edit
{
    margin-top: 20px;
    padding-top: 20px;
}