
#video
{
    
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#vtable
{
    
}


#how
{
  float: left;
position: absolute;
left: 5cm;
top: 8cm;  
}

#add_vid
{

float: left;
position: absolute;
left: 5cm;
top: 5cm;
} 